langchain
langchain-community
langchain-huggingface

sentence-transformers
transformers
torch

faiss-cpu
chromadb

pypdf
PyPDF2

rank-bm25

ollama
openai
huggingface-hub

numpy
pandas
scikit-learn

rouge-score
nltk
bert-score

streamlit
streamlit-chat

python-dotenv
tqdm
requests
